<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
  

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 250px;
            background-color: #343a40;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .sidebar a {
            padding: 10px 20px;
            text-decoration: none;
            font-size: 16px;
            /* Adjust the font size here */
            color: white;
            display: block;
            transition: 0.3s;
        }


        .sidebar a:hover {
            background-color: #495057;
        }

        .content {
            margin-left: 260px;
            padding: 20px;
        }

        .content h2 {
            margin-bottom: 20px;
        }

        .content table {
            width: 100%;
            border-collapse: collapse;
        }

        .content table th,
        .content table td {
            border: 1px solid #dee2e6;
            padding: 8px;
            text-align: center;
        }

        .content table th {
            background-color: #343a40;
            color: white;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }

        .btn-container button {
            margin: 5px;
        }

        .custom-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .custom-popup h2 {
            margin-top: 0;
        }

        .popup-buttons {
            text-align: center;
            margin-top: 10px;
        }

        .popup-buttons button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 8px 12px;
            cursor: pointer;
            margin: 5px;
        }
    </style>
</head>

<body>
    <div class="contaier">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light col-lg-2">
                <div class="container-fluid">
                  <span>.</span>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="sidebar">
                      <a href="/admin/salesreport">Dashboard</a>
                      <a href="/admin/adminHome">User Management</a>
                      <a href="/admin/productlist"> Product</a>
                      <a href="/admin/category"> Category</a>
                      <a href="/admin/viewcoupen"> Coupen</a>
                      <a href="/admin/userorders">Show Orders</a>
                      <a href="/admin/productoffers">Product Offer</a>
                      <a href="/admin/logout"><i class="fas fa-sign-out-alt" style="font-size:20px;color:red"></i> Logout</a>
                    </div>
                  </div>
                </div>
              </nav>
            <div class="main col-lg-9 mt-4">
                <h2>Product List</h2>
                <a href="/admin/addproduct"><button class="btn btn-info">Add Product</button></a>
                <% if(typeof message !=='undefined' ) { %>
                    <div class="alert alert-danger text-center">
                        <%= message %>
                    </div>
                    <% } %>
                    <div class="table-responsive">
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>ID</th>
                                    <th>ProductName</th>
                                    <th>Category</th>
                                    <th>Model</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Rating</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>IsListed</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% prlist.forEach((val,index)=>{ %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td><%= val.Productname %></td>
                                    <td><%= val.Category.Category %></td>
                                    <td><%= val.Model %></td>
                                    <td><%= val.Stock %></td>
                                    <td><%= val.Price %></td>
                                    <td><%= val.Rating %></td>
                                    <td><%= val.Description %></td>
                                    <td><img style="max-height: 100px; max-width: 100px;" src="<%= val.image[0] %>" alt="no img"></td>
                                    <td><%= val.isList %></td>
                                    <td>
                                        <div class="btn-container">
                                            <a href="/admin/productupdate/<%= val._id %>">
                                                <button class="btn btn-primary">Update</button>
                                            </a>
                                            <button class="btn btn-danger" onclick="confirmDelete('<%= val._id %>')">Delete</button>
                                            <a href="/admin/showproduct/<%= val._id %>" class="btn btn-primary">Unlist</a>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    
            </div>
        </div>
    </div>

    <div id="custom-popup" class="custom-popup">
        <h2>Are you sure you want to delete?</h2>
        <div class="popup-buttons">
            <button id="delete-button" class="btn btn-danger">Yes</button>
            <button id="cancel-button" class="btn btn-secondary">Cancel</button>
        </div>
    </div>

    <script>
        function confirmDelete(productId) {
            var popup = document.getElementById('custom-popup');
            popup.style.display = 'block';

            document.getElementById('delete-button').addEventListener('click', function () {
                window.location.href = '/admin/deleteproduct/' + productId;
            });

            document.getElementById('cancel-button').addEventListener('click', function () {
                popup.style.display = 'none';
            });
        }
    </script>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>  
<script>
   new DataTable('#example');
   
   
  </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>