<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Category List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- DataTable HEADER-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid mx-3">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/userhome">
          <!-- <img src="img/[removal.ai]_c4d2c10c-7940-48dc-90a4-b90aa8006f6e-screenshot-2023-10-27-203006.png" style="width: 6vw; height: 9vh;" alt="MDB Logo"
              loading="lazy" /> -->
          <h3>E- <span style="color: red;">CART</span></h3>
        </a>
        <!-- Left links -->
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->



      <!-- Avatar -->

      <a class=" d-flex align-items-center " href="/userlogin" id="navbarDropdownMenuAvatar" role="button"
        data-mdb-toggle="tooltip" title="Login">
        <i class="fas fa-circle-user " style="font-size: 2em;"></i>

      </a>

    </div>

    <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <div class="container mt-5">
    <h1 class="text-center">Brand List</h1>
    <div class="table-responsive">
      <table id="example" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Brand</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(val => { %>
            <tr>
              <td><img src="<%= val.image[0] %>" class="img-fluid" style="max-height: 7rem;" alt="Category Image"></td>
              <td><%= val.Category.Category %></td>
              <td><%= val.Productname %></td>
              <td>₹<%= val.Price %></td>
              <td><%= val.Rating %></td>
              <td>
                <a href="/seeproductwithacc/<%= val._id %>" class="btn btn-primary">View More</a>
                <a href="/addcart/<%= val._id %>" class="btn btn-info">Add To Cart</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  

  <!-- for filter/sort/pagination table -->
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>  
  <script>
     new DataTable('#example');
     
     
    </script>
<!-- / -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>

</html>